@font-face {
  src: url("fonts/Yeseva+One.ttf");
  font-family:"Yeseva+One";
}

::-webkit-scrollbar {
  width : 0.1px; 
  height: 5px;
  pacity: 0.02;
} /* УБРАЛ ПОЛОСУ ПРОКРУТКИ С ЭКРАНА и сделал свою. 
Когда пишу сайт, чтобы на планшете отображалось содержимое от края до края страницы 
без зазоров, прокрутку можно отключить. И включить для красоты по готовности сайта.*/

::-webkit-scrollbar-button {height: 50px; background :#42e10e; }  /*2 - кнопка*/  

::-webkit-scrollbar-track {background: #274dd7; }  /*3 - трек */ 

::-webkit-scrollbar-track-piece { background: #e91e63;}  /*4 - видимая часть трека */ 

::-webkit-scrollbar-thumb {background: #fbe100; border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); /*inset 1 3 13px rgb(207 10 10 / 64%)*/} /*5 - ползунок */ 

/*настраивает полосу прокрутки с помощью вэбкит. С этими еще не разобрался*/

/*::-webkit-scrollbar{ width: 22px; } /*1 - вертикальный скроллбар*/

/*::-webkit-scrollbar:horizontal{ height: 22px;  }  /*1 - горизонтальный скроллбар*/

/*::-webkit-scrollbar-button {background :#e50845; }  /*2 - кнопка*/  

/*::-webkit-scrollbar-track {background: #008000; }  /*3 - трек */ 

/*::-webkit-scrollbar-track-piece { background: #32CD32;}  /*4 - видимая часть трека */ 

/*::-webkit-scrollbar-thumb {background: #322e76; border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); } /*5 - ползунок */ 

/*::-webkit-scrollbar-corner {: #32CD32; }  6 - уголок */

/*::-webkit-resizer { : #32CD32; } 7 - изменение размеров*/ 

body {
  background-image: url('https://highstar.ru/pictures/snejinki/09.gif');
  margin: 0 auto;
  box-sizing: border-box;
  verflow: hidden;/*убирает полностью прокрутку с экрана*/
  -webkit-resizer: /*— изменение размеров*/
}

ont {
position: absolute;
width: 243px;
top: 277px;
left: 734px;
z-index: 1;
olor: #f5deb3;

font-family: 'Nunito Sans';
font-size: 13px;
font-style: italic;
ont-weight: 400;
line-height: 15px;
text-transform: uppercase;
}

.header {
 width: 1280px;
 background-color: #00000052;
}

.navigation, .menu-footer {
display: flex;
justify-content: space-evenly;
align-items: center;
width: 100p;
}

.link {
color:wheat;
z-index: 1;

font-family: 'Nunito Sans';
font-size: 13px;
font-weight: 400;
line-height: 15px;
text-transform: uppercase;
}

.fly_santa {
position: absolute;
top: 770p;
left: 17p;
margin: 0 auto;
}

img.flying_santa {
position: absolute;
width: 650p;
height: 64px;
/*animation-duration: 100s; /*регулируется быстрота и медлительность движения при включенном js*/
animation-name: mymove;
top: 13px;
right: 242p;
z-index: 2;
cursor: pointe;
animation-delay: 500s;/*время через сколько запустится анимация*/
animation: mymove 75s infinite; /*регулируется быстрота и медлительность движения*/
/*animation-iteration-count: mymove ; /*сколько раз сработает, но пока не работает*/ 
}

@keyframes mymove {
from { left:0px; }
to { left:927px; } /*ставим размер экрана, чтобы гугл исчезал если нужно*/
}

.block_falling-gifts {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 24px;
  top: 87px;
  left: 108px;
z-index: 1;
}

.falling-gifts {
  width: 32px;
  height: 107px;
  margin-right:298px;
}

.blue-star {
  position: absolute;
  display: flex;
  justify-content: space-between; 
  width: 1247px;
  top: 763p;
  left: 11px;
  z-index: 1;  
}

.blue-star2 {
  position: absolute;
  display: flex;
  justify-content: space-between; 
  width: 1168px;
  top: 10px;
  left: 34px;
  z-index: 1;  
}

.star {
  width: 14px;
  height: 15px;
  margin-right: 36px;
}

.star2 {
 width: 15px;
  height: 15px;
  margin-right: 35px;   
}

.continer-salute {
position: absolute;
  display: flex;
  justify-content: space-between; 
  top: 33px;
  left: 6p;
  z-index: 1;  
}

.salute-small {
 width: 94px;
  height: 60px;
  margin-right: 33p;   
}

.houses-fly_santa {
position: absolute;
display: flex;
}

.houses {
 osition: absolute;
    width: 325p;
    height: 198px;
    top: 757p;
    right: 957p;
    z-index: ;
    box-shadow: -22px 0px 15px 15px rgb(112 85 221 / 95%);
    ransform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 9p;
}

.houses3 {
 osition: absolute;
    width: 301p;
    height: 198px;
    top: 757p;
    right: 355p;
    z-index: -1;
    box-shadow: 24px 0px 15px 15px rgb(112 85 221 / 95%);
    ransform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 9p;
}

.houses5 {
 osition: absolute;
    width: 301p;
    height: 198px;
    top: 757p;
    right: 656p;
    z-index: -1;
    box-shadow: 0px 0px 15px 15px rgb(112 85 221 / 95%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 9p;
}

.houses6 {
     osition: absolute;
    width: 330px;
    height: 198px;
    top: 757p;
    right: 0p;
    z-index: ;
    box-shadow: -24px 0px 15px 15px rgb(112 85 221 / 95%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 9p;
}
.garland-1 {
position: absolute;
width: 1280px;
height: 57px; 
top: 202px;
}

.iframe {
  position: absolute;
  top: 291px;
}

.cardOff_christmas-vinok-2 {
position: absolute;
top: 78px;
left: 33px;
margin: 0;
cursor: pointer;  
}

.cat-in-cap {
osition: absolute;
    width: 234px;
    top: 53p;
    left: 62p;
}

.photoOff {
position: absolute;
 top: 2px;
    left: 829px;
    margin: 0;
    z-index: 1;
}

.christmas-vinok-2 {  
 width: 153px;
  height: 133px;
   
}

.video {
 position: absolute;
    width: 665px;
    height: 374px;
    left: 320px;
    box-shadow: 0px 0px 34px 16px #b8b8db;
}

.showman2 {
  position: absolute;
   width: 176px;
    top: 30px;
    left: 1069px;
  ox-shadow: 0px 2px 25px 15px yellowgreen;   
}

.girl-on-sofa {
  position: absolute;
   width: 300px;
    height: 317px;
    top: 397px;
    left:39px;
    box-shadow: 2px 0px 40px 17px #e38a8a;
    border: 11px solid #00b8ff
}

.reklama {
      position: absolute;
    width: 434px;
    height: 287px;
    top: 416px;
    left: 431px;
    border: 8px solid #f00;
    border-radius: 35px;
    box-shadow: 0px 0px 42px 21px #9c27b0;
}

.garland-3 {
position: absolute;
width: 64px;
height: 439px;
top: 728px;
left: 30px;
z-index: -1;
}

.children {
  position: absolute;
  width: 453px;
    height: 371px;
    top: 779px;
    left: 129px;
    border: 10px solid #dbdb3a;
    border-radius: 32px;
    box-shadow: 0px 0px 20px 22px chartreuse;
}

.children-1 {
  position: absolute;
  width: 1051px;
    height: 316px;
    top: 1195px;
    box-shadow: 2px -2px 17px 10px #bda734;
}

.sharkov {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 1196px;
  z-index: 1;
}

.child-1 {
  position: absolute;
  width: 368px;
    height: 367px;
  top: 1141px;
  left: 912px;
  box-shadow: 5px 0px 17px 7px #673ab7;
}

.child {
  position: absolute;
  width: 281px;
    height: 327px;
    top: 406px;
    left: 955px;
    box-shadow: 0px 0px 33px 15px gold;
    border: 3px solid #0a640a;
}

.video-1 {
  position: absolute;
  width: 582px;
    height: 328px;
    top: 787px;
    left: 667px;
    border-radius: 41px;
    box-shadow: 0px 0px 29px 10px #ff0081;
}

.gouingSanta-2 {
    position: absolute;
    width: 203px;
    top: 1259px;
    left: 1039px;
    animation-name: gouing;
    animation-delay: 500s;
    animation: gouing 45s infinite;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 1;
}

@keyframes gouing {
from { left:0px; }
to { left:939px; } /*ставим размер экрана, чтобы гугл исчезал если нужно*/
}

.all_friends {
position: absolute;
width: 1280px;
height: 912px;
top: 1799px;
left: 42p;
background-image: url('https://bestgif.su/_ph/108/2/2370639.gif');
background-size: cover;
box-shadow: 4px 0px 34px 36px #9358e1;
-index: -1;    
}

.text-friends {
  position: absolute;
  width:1279px;
  left: 268p;

  font-family:"Yeseva One";
  text-align: center;
  text-transform: uppercase;
}

.garland-9 {
position: absolute;
width: 1280px;
bottom: 908px;
z-index: 1;
}

.map-content {
  position: absolute;
  width: 1280px;
    height: 957px;
  top: 2754px;
  ox-shadow: 0px 0px 27px 26px #1f0b42e0;
}

.filter-img {
  width: 1280px;
    height: 957px;
    margin: 0;
  background-image: url('https://sun2.43222.userapi.com/impg/jiJkeqLiBCg08r6quCB9DbJHxYE1veBUzhgu5A/S626TQzlLiY.jpg?size=1280x960&quality=96&sign=04bb06adb28036110e7303b7cbe363f1&type=album');
background-size: cover;
 ilter: brightness(0.2);
 filter: opacity(0.3); 
}

.map {
position: absolute;
width: 800px;
height: 500px;
top: 232px;
left: 254px;
z-index: 1;
cursor: grab;
box-shadow: 0px 0px 51px 18px #ff0052;
}

.iframe-map {
 position: absolute;
 width: 800px;
height: 500px;
cursor: grabbing;
}

ooter {
  position: absolute;
  width: 1280px;
  top: 3706px;
  background-color: #00000052;
  z-index: 1;
}

enu-ooter {
display: flex;
justify-content: space-evenly;
align-items: center;
width: 100p;
}


@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1024px) {
.text-friends { left: 206p; }
}

@media screen and (max-width: 768px) {
.text-friends { left: 206p; }
}

@media screen and (max-width: 425px) {
.text-friends { left: 206p; }
}

@media screen and (max-width: 375px) {
.text-friends { left: 206p; }
}